/* universal selector */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
nav{
     Background-Color: rgb(235, 33, 33);
    height: 5.625rem;
    width: 100%;


}

img[alt="logo"]{
    padding: 0.625rem;
    height: 5.625rem;
    width: 25rem;
}

.navbar li{
    background-color: blue;
    font: 1.125rem;
    height: auto;
}

 main {
    padding: 4.375rem;
    background-image: url(https://mobicare.co.za/WebModules/Common/SSTools/CacheImage.aspx?IptFl=/_webmoduledata/images/Raw/r.jpg&OptSc=Y&ImgWd=1920&ImgHt=0&type=general&imgq=Normal);
    background-repeat: no-repeat;

} 

img[alt="gridLogo"]
{
    opacity: 100;
    width: 25rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}